body {
  background-image: url("http://images.ihb.de/p-17850000-17843496-D0/Panel-de-madera-s%C3%B3lido.JPG");
}

#piano {
  margin: auto;
  width: 480px;
}

.blancas {
  margin-top: 20px;
  border-style: outset;
  box-shadow: 2px 2px 5px #999;
  background-color: white;
  display: inline-block;
  width: 50px;
  height: 200px;
  vertical-align: top;
  text-align: center;
}

.negras {
  margin-top: 20px;
  border-style: outset;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 120px;
  background-color: black;
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: monospace;
}

pb {
  font-family: monospace;
  text-align: center;
}

pn {
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  color: white;
}